html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}
header {
background-image: url(/images/index/index_bg.png);
}

body {
    height: 100vh;
    background-color: #e8e4c7;
    background-size: cover;
    background-position: center;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(217,233,148,1) 100%);
}

.indexMenu li {
    width: 90px;
    font-weight: 500;
}

.songCard {
    margin: 0 0 0 0px;
}
.card-description {
    padding: 30px 0px 0px 40px;
    margin: 0,0,0,80px;
    text-align:left;
}
.card-description h5{
   
    
}
.songName {
    font-size: 30px;
}
.songSinger {
    font-size: 17px;
}
.songButton {
    color: #000;
    text-decoration: none;
    border-radius: 50px;
    padding: 9px;
    position: relative;
    width: 160px;
    height: 40px;
    text-align: center;
    margin: 0 0 -10px 240px;
    
    background: #0b270a;
    color: #fffdf2;
    text-transform: uppercase;
    font-size: 14px;
}
    .songButton a {
        text-decoration:none;
        color: white;
        
        margin: 0 auto;
    }
.card {
    display: flex;
    justify-content: center;
    margin: 10px 30px 0px 0px;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    margin: 30px 550px 0px 0px;
    width: 590px;
    height: 100px;
    display: flex;
    align-items: center;
    text-align: center;

    font-family: "Times New Roman", Times, serif;
    font-size: 60px;
    color: black;
}


    .logo p {
        font-family: "Times New Roman", Times, serif;
        font-size: 18px;
        color: black;
        text-align: center;
        margin-left: auto;
        margin-right: auto;

    }
    .logo li {
        list-style-type: none;

    }


.cafeName {
    font-weight: bold;
    text-align: left;
}
.description {
    font-size: 13px;
    text-align: left;
}
.cafeButton {
  
    text-decoration: none;
    color: rgb(238,174,202);
    margin: 0 auto;

    font-size: 13px; 
    
    font-weight: bold;
}

.buttenImage {
    height: 80px;
    width: 80px;
    margin: 0px 0px 0px 210px;
}

.arial {
    font-family: Arial, "Helvetica Nue",Helvetica, sans-serif;
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    color: cornflowerblue;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
}

.block {
    
    width: 1200px;
    padding:10px;
    margin: 20px;
    
}
.image {
     width:  100px;
     
     
}

.card {
   
    border-radius: 5px;
    box-shadow: 5px 5px 10px 5px;
   
}


.img {
    height: 250px;
    width: 300px;
    border-radius: 15px;
}



.songText {
    background: white;
    height: 400px;
    width: 700px;
    border: 5px solid #000;
    border-radius: 20px;
    overflow: auto;
    text-align:center;
}
.songText p {
   
}
.materialCard {
    height: 400px;
    width: 700px;
    background: white;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    margin: -710px 0 20px 820px;
    
}
.cat {
    height: 120px;
    width: 120px;
    margin: -43px 500px 0 -244px;
}
.material {
    background: yellow;
    height: 700px;
    width: 700px;
    border-radius: 20px;
    text-align: left;
    padding: 20px;
    margin: 10px -20px;
    overflow: auto;
}

.materialCard h2 {
    margin: -70px 0 0 0;
 }

.materialCardCreate {
    margin: -610px 0px 20px 720px;
    height: 700px;
    width: 700px;
}


.container>main {
 display:block;
 
 margin: 40px;
 padding:0px;
}

.main-body {
    display:flex;
}

.main-container {
   
}
/* Навигационная панель слева*/
.left-panel-container {
   
    margin-left: 100px;
    margin-top: 100px;
    padding: 10px;
    
}

    .left-panel-container > nav > ul {
        list-style: none;
        
    }
        .left-panel-container > nav > ul > li {
            display: block;
            margin-top: 40px;
           
            background-image: url(/images/cloud1.png);
            background-repeat: no-repeat;
            width:100px;
            padding-left: 50px;

        }
