
<h4>Поиск песен</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ShowSearchResults">
           
            
            <div class="form-group">
                <label for="SearchPhrase" class="control-label"></label>
                <input name="SearchPhrase" class="form-control" />
               
            </div>
            <div class="form-group">
                <input type="submit" value="Поиск" class="btn btn-primary" />
                <p>Введите любое слово</p>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


