@model JokesWebApp.Models.Song

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Song</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Singer" class="control-label"></label>
                <input asp-for="Singer" class="form-control" />
                <span asp-validation-for="Singer" class="text-danger"></span>
            </div>
            

            <div class="form-group">
                <label asp-for="SongName" class="control-label"></label>
                <input asp-for="SongName" class="form-control" />
                <span asp-validation-for="SongName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="YouTubeUrl" class="control-label"></label>
                <input asp-for="YouTubeUrl" class="form-control" />
                <span asp-validation-for="YouTubeUrl" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SongDescription" class="control-label"></label>
                <input asp-for="SongDescription" class=" form-control" />
                <span asp-validation-for="SongDescription" class="text-danger"></span>
            </div>
            
           

            <div class="form-group">
                <label asp-for="SongText"  for="exampleFormControlTextarea1">Текст песни</label>
                <textarea asp-for="SongText" class="form-control" id="tiny" rows="3"></textarea>
                <span asp-validation-for="SongText" class="text-danger"></span>
            </div>

          



            <div class="form-group">
                <label asp-for="ImageFile" class="control-label">Изображение</label>
                <div class="custom-file">
                    <input asp-for="ImageFile" class="custom-file-input" id="FLSongImage"
                    onchange="document.getElementById('SongImagePrv').src= window.URL.createObjectURL(this.files[0])">

                </div>
                
                <img id="SongImagePrv" src="" alt="Image" width="150"
                height="150" style="border:1px; margin-top:20px;margin-left:120px;" />
               
            </div>


            <div class="materialCardCreate">
                <label asp-for="Material" for="exampleFormControlTextarea1">Material</label>
                <textarea asp-for="Material" class="form-control" id="tiny" rows="3"></textarea>
                <span asp-validation-for="Material" class="text-danger"></span>
            </div>
            

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>


}
